/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .reportItem {
  p {
    font-size: 14px;
    color: gray;
  }
  ion-icon {
    -webkit-margin-end: 12px;
    margin-inline-end: 12px;
  }
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .avatarAbs {
    width: 65px;
    height: 65px;
    background: var(--ion-color-tertiary-contrast);
    border-radius: 502%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px;
    z-index: 99999;
    ion-avatar {
      width: 50px;
      height: 50px;
    }
  }
}
ion-content {
  --background: #00000080;
}
ion-card {
  --background: var(--ion-color-tertiary-contrast);
  overflow: visible;
  padding-bottom: 20px;
  border-radius: 12px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  color: var(--ion-color-dark-tint);
}
