<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title>Autoplay videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding-top>
    <ion-radio-group>
      <div *ngFor="let item of videoData;let i= index">
        <ion-item *ngIf="item.head">
          <ion-text slot="start" text-capitalize>{{item.head}}</ion-text>
          <ion-radio slot="end" color="gold" checked></ion-radio>
        </ion-item>
        <ion-item *ngIf="item.para" class="paragraphItem">
          <ion-label>
            <p text-wrap padding-bottom class="specialPara">{{item.para}}</p>
            <h3 text-capitalize>{{item.para2}}</h3>
          </ion-label>
        </ion-item>
      </div>
    </ion-radio-group>

  </ion-list>
</ion-content>