/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    h2{
        margin-top: 18px;
    font-size: 70px;
    font-family: hipster;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 0
    }
    p{
        margin-top: 0;
    }
    ion-button{
        margin-top: 40px;
        width: 280px;
    }
}
.centerContent1{
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-content{
    --background: #000000a8;
}
ion-avatar{
    border: 2px solid white;
    width: 80px;
    height: 80px;
}
.contentHeight{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}