<div class="slide1" *ngFor="let data of userDetail">

  <!-- <ion-item>
    <ion-avatar [ngStyle]="{'background':'url('+ data.image  +')', 'background-size':'cover'}"> </ion-avatar>
    <ion-label>
      <h4 style="padding-left:5%; color:black;">Enappd</h4>
      <h4 style="padding-left:5%; color:black;">21</h4>
      <h4 style="padding-left:5%; color:black;">Self Employed</h4>
    </ion-label>
  </ion-item> -->
  <ion-toolbar mode="md" *ngIf="segmentButton === 'chatbubbles'">
    <ion-segment (ionChange)="segmentButtonClicked($event)">
      <ion-segment-button checked value="message" mode="md" >
        <ion-icon name="edit" ></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="feed" mode="md">
        <ion-icon name="cafe" ></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="oval">
    <div class="ovalsubDiv">
      <ion-avatar [ngStyle]="{'background':'url('+ data.image  +')', 'background-size':'cover'}"> </ion-avatar>
      <h4 no-margin no-padding>Enappd, 12</h4>
      <ion-item>
        <ion-label text-wrap>
          <div class="flex">
            <p padding-horizontal class="paraUserDetails">{{data.userDetails}}</p>
          </div>
        </ion-label>
      </ion-item>
    </div>


  </div>
  <div style = "padding-left: 30px">
    <ion-slides pager="true" (ionSlideDidChange)="change($event)" #Slides [options]="slideOpts">
      <ion-slide *ngFor="let slide of data.slides">
        <ion-label>
          <div class="slidesIConText">
            <ion-icon slot="start" src={{slide.icon}} color={{slide.color}}></ion-icon>
            <h2 color="dark" text-capitalize>{{slide.head}}</h2>
          </div>
          <p text-capitalize color="dark">{{slide.subhead}}</p>
        </ion-label>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="footerbutton">
    <ion-button expand="block" *ngIf="showButton" class="footerbutton1" (click)="openGoldModal()">Get Kiwi Aroha Premium
    </ion-button>
    <ion-button expand="block" *ngIf="!showButton" class="footerbutton2" (click)="opentinderPlusModal()">My Kiwi Aroha Premium</ion-button>
  </div>
</div>