/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .verified{
    color: gray;
    font-size: 13px;
    margin-top: 0;
}
ion-list-header{
    font-weight: bold;
    color: #424242;
}
ion-content{
    --background:white !important;
}
ion-item{
    --inner-border-width: 0px 0px 0px;
}