<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>email settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Email</ion-list-header>
    <ion-card>
      <ion-item>
        <ion-input type="number" placeholder="XXXX XXXX XX"></ion-input>
      </ion-item>
    </ion-card>
    <p class="verified" padding-start>Verified email</p>

  </ion-list>
  <ion-list>
    <!-- <ion-list-header></ion-list-header> -->
    <ion-card>
      <ion-button fill="clear" expand="block" color="gold" text-capitalize>Update email</ion-button>
    </ion-card>
  </ion-list>
</ion-content>