/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .backGray{
    ion-item{
        --background: #e0e0e05c;
        --inner-border-width: 0 0 0px 0;
p{
    margin-top: 0;
    color: #989aa2;
    font-size: 12px;}
    }
    ion-list-header{
        --background: #e0e0e05c;
        color: #424242d6;
        font-size: 12px;
        font-weight: bold;
    }
}
ion-list{
    padding-bottom: 0 !important;
    
}
ion-content{
    --background: #e0e0e05c;
   
}