<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Show me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-item>
        <p>Men</p>
        <ion-radio slot="end" color="gold" checked></ion-radio>
      </ion-item>
      <ion-item>
        <p>Women</p>
        <ion-radio slot="end" color="gold"></ion-radio>
      </ion-item>
    </ion-radio-group>
   
    <div class="backGray">
        <ion-list-header>
            Dating welcomes everyone
          </ion-list-header>
      <ion-item (click)="gotoMatch()">
        <p text-start color="medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, temporibus eveniet aperiam distinctio
          architecto vel eum minima incidunt et similique quos laudantium nam obcaecati laboriosam totam corporis?
          Reiciendis, eum cumque?</p>
      </ion-item>

    </div>

  </ion-list>
</ion-content>