<ion-content>
  <ion-list>
    <ion-item (click)="closePopOver()">
      <p text-capitalize>share profile</p>
    </ion-item>
    <ion-item (click)="closePopOver()">
      <p text-capitalize>report</p>
    </ion-item>
  </ion-list>
</ion-content>