<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="danger"></ion-back-button>
      </ion-buttons>
      <ion-title>TeamTinder</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
<ion-list paddin-top>
<ion-item>
  <ion-label>
    <ion-text>Team Tinder</ion-text>
    <p text-wrap>I want to receive news,updates, and offers from Tinder</p>
  </ion-label>
<ion-toggle color="danger" slot="end" checked></ion-toggle>
</ion-item>
</ion-list>
</ion-content>
