/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-item {
    border-bottom: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))));
    --inner-border-width: 0 0 0 0;
    // --inner-padding-end: 0;
    //   --padding-start: 0;
  
  }
  ion-text {
    color: rgba(66, 66, 66, 0.8392156862745098) !important;
      font-size: 12px;
      font-weight: bold;
  }
  p{
    font-size: 12px;
  }