<ion-header>
  <ion-toolbar color="mango">
  <ion-title>Registration</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
  <img src="assets/images/logo.png" class="smallLogo"/>
  <h1>Create Account</h1>
  <form>
  <ion-list>
  <ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input autocomplete="off" type="email"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">First name</ion-label>
  <ion-input autocomplete="off" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input autocomplete="off" type="password"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-item lines='none'>
  Already have an account? <a routerLink='/login'>Sign in.</a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="success">Registration</ion-button>
  </form>
  </ion-content>