<ion-content>
  <div>
    <ion-slides pager="true" [options]="slideOpts" margin-bottom>
      <ion-slide *ngFor="let slide of data">
        <p text-center>{{slide.quote}}</p>
        <ion-card [ngStyle]="{'background':'url('+ slide.image +' )'}"></ion-card>
      </ion-slide>
    </ion-slides>
    <div class="logincontent">
      <!-- <ion-label> -->
        <p text-center margin-bottom>By tapping Log In,you agree with our <u> Terms of Services </u> and <u> Privacy
            Ploicy</u></p>
        <ion-button expand="round" class="facebook" text-uppercase><small>login in with facebook</small> </ion-button>
        <ion-button expand="round" margin-bottom color="medium" fill="outline" (click)="loginWithPhone()" text-uppercase><small>login
            in with phone number</small>
        </ion-button>
      <!-- </ion-label> -->
      <div class="medium">
        <p no-margin (click)="gotAccountrecovery()"><u>Trouble Logging In?</u></p>
        <div class="lastItem" (click)="toggleContent()">
          <p class="post" no-padding> We don't post anything to facebook
          </p>
          <ion-icon name="arrow-down" mode="ios" padding-start></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>