<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Source</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="camera" slot="start" expand="icon-only" color="medium"></ion-icon>
      <ion-label>
        <h5>My Device</h5>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-facebook" slot="start" expand="icon-only" color="primary"></ion-icon>
      <ion-label>
        <h5>Facebook</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>