<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title>Push Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding-top>
    <div *ngFor="let item of pushData;let i= index">
      <ion-item *ngIf="item.head">
        <ion-toggle slot="end" checked *ngIf="item.toggle" class="colotoggle"></ion-toggle>
         <ion-label>
          <ion-text text-capitalize>{{item.head}}</ion-text>
          <p text-wrap>{{item.para}}</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item *ngIf="item.para" class="paragraphItem">
        <ion-label>
          <p text-wrap padding-bottom>{{item.para}}</p>
          <h3>{{item.para2}}</h3>
        </ion-label>
      </ion-item> -->
    </div>
   
  </ion-list>
</ion-content>
