 /**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
ion-list{
  // padding-top: 60px;
 }
 .headerItem{
   h3{
     font-weight: bold;
     font-size: 14px;
   }
   p{
    font-size: 12px;
   }
   ion-icon{
    font-weight: bold;
    font-size: 30px;
   }
 }
 ion-card{
  height: 360px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: visible;
  z-index: 1;
 }
 ion-item{
  --inner-border-width: 0 0 0px 0;
   ion-icon{
    margin-top: 0;
    margin-bottom: 23px;
    -webkit-margin-end: 7px !important;
    margin-inline-end: 7px !important;
    font-size: 14px;
    z-index: 0;
   }
   p{
    margin-bottom: 0px;
    font-size: 14px;
   }
 }
 ion-fab{
  bottom: -20px;
  ion-fab-button{
    width: 40px;
    height: 40px;
    --background: linear-gradient(to right, #d31027, #ff5722);
  }
 }

 p.paraUserDetails {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .5px;
  color: var(--ion-color-dark) !important;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 365px;
}

.oval {
  width: calc(100%);
    background-color: var(--ion-color-warning-contrast);
    border-bottom: solid 1px #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .ovalsubDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 24px;
      h4{
        font-weight: bold;
      }
    }

  .ovelDivContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left:100px;
    padding-right:100px;

    .backgroundDiv {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--ion-color-light-tint);
      border-radius: 50%;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);

    }
  }

  .ovelDivContentPadding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 45px 29px;

    p {
      margin: 0;
      width: 75px;
      font-weight: lighter;
      color: #b4b6bc;
      font-size: 12px;
    }

    .addIcon {
      width: 20px;
  height: 20px;
  background: white;
  color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 105px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }

  .ovelDivContentcamera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #d31027, #FF5722);
    width: 65px;
    height: 65px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);

  }

  .ovalIcon {
    // padding-bottom: 20px;
    font-size: 25px;
  }

  .ovalIconCamera {
    font-size: 30px;
    color: white;
  }

  ion-text {
    font-size: 12px;
  }


}

body {
  font-family: "Lato", sans-serif;  
  font-weight: 300;
}

.button-wrap {
  padding: 30px 30px;
}

.button-default {
  color: white;
  background-color: teal;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  position: relative;
}

.button-slanted--left {
  background-color: #333;
}

.button-slanted--right {
  margin-left: -4px;
  background-color: #DB0460;
}

.button-slanted--left:after, .button-slanted--right:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;  
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}

.button-slanted--left:after {
  border-radius: 30px 0 0 30px;
  left: -23px;
}

.button-slanted--right:after {
  border-radius: 0 30px 30px 0;
  right: -23px;
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
}