

  
  <ion-list >
    <ion-card class="oval">
    <div class="ovalsubDiv">
      <ion-avatar [ngStyle]="{'background':'url('+ '../../assets/chat/chat1.jpg'  +')', 'background-size':'cover'}"> </ion-avatar>
      <h4 no-margin no-padding>Enappd, 19</h4>
      
      <h5>When : 05/12/2020 5:00pm</h5>
      <h5>Where : Cuba Cafe, Wellington</h5>
      <div class="button-wrap">
        <div class="button-default button-slanted button-slanted--left">
          <span class="button-slanted-content">RAIN CHECK</span>
        </div>
      
        <div class="button-default button-slanted button-slanted--right">
          <span class="button-slanted-content">CANCEL</span>
        </div>
      </div>
      </div>
    </ion-card>

</ion-list>
