<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title>Delete Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="centerAccountPosition">
    <ion-item>
      <!-- <ion-label> -->
      <div class="centerAccountPositionDiv">
        <div class="centerAccountclose">
            <ion-icon name="pause" expand="icon-only"></ion-icon>
        </div>
        <h5 text-uppercase>pause my account</h5>
        <p text-wrap text-center no-margin>If you would like to keep your account but not be shown to others.You can
          pause your account instead.You can turn this off in setting.</p>
      </div>
      <!-- </ion-label> -->
    </ion-item>

  </div>
</ion-content>
<ion-footer padding>
  <ion-button margin-vertical color="gold" expand="block">pause my account</ion-button>
  <ion-button margin-vertical color="medium" expand="full" fill="clear" text-capitalize (click)="gotodeleteConfirm()">
    delete my account >
  </ion-button>
</ion-footer>