/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .centerAccountPosition {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  ion-item {
    --inner-border-width: 0 0 0 0;
    --background: transparent;
  }
}

.centerAccountPositionDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
.centerAccountclose{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f04141;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
  p {
    font-size: 11px;
    color: var(--ion-color-medium);
    width: 65%;
  }

  .backgroundDiv {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #d31027, #FF5722);
    border-radius: 50%;
    color: white !important;
  }
}

.footer-md:before {
  background-image: none;
}

ion-footer {
  background: rgb(241, 241, 241);
  ion-button {
    height: 48px;
    margin: 0 0 16px;
    font-weight: bold;
  }
}
h5{
  font-weight: bold;
}