<ion-content>
  <div class="content">
    <ion-icon name="arrow-up" mode="ios" (click)="toggleContentClose()" class="dropDown"></ion-icon>


    <ion-item>
      <div class="butttonsDiv">
        <ion-button mode="md"  text-uppercase expand="round" class="facebook"  (click)="toggleContentClose()"><small>login in with facebook</small> </ion-button>
        <ion-button  mode="md"  text-uppercase expand="round" color="medium" fill="outline" (click)="loginWithPhone()"><small>login in with phone
            number</small>
        </ion-button>
        <p text-center margin-bottom class="medium" (click)="gotAccountrecovery()"><small><u>Trouble Logging In?</u></small></p>
      </div>
    </ion-item>
  

<div class="center">
    <div class="privacy" padding-bottom>
        <p text-center class="dark">We take your privacy Seriously</p>
        <ion-text  text-center color="medium">We don't post anything to Facebook</ion-text>
      </div>
    
      <div text-center class="paddingHorizontal" padding-horizontal>
        <ion-text color="medium">Other user's cannot contact you unless you've already been matched</ion-text>
      </div>
</div>
  

</div>

</ion-content>