/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-content{
  --background:white !important;
}
ion-slides {
  width: 100% !important;
  overflow: visible;
  z-index: 0;
}
ion-fab-button {
  width: 45px;
  height: 45px;
  --background: #e53935 !important;
}
ion-fab {
  top: -20px;
}
// .icon_background{
//   background: var(--ion-color-danger-tint);
//   border-radius: 50%;
//   width: 42px;
//   height: 42px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-weight: normal;
//   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//   position: relative;
//   left: 40%;
//   right: 0;
//   margin: auto;
//   top: 95%;
//   z-index: 99999;
//     ion-icon{
//       margin: 0 !important;
//     }
//   }
.footerContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon.icon_size {
    font-size: 30px;
    font-weight: bold;
  }

  .icon_background {
    background: var(--ion-color-dark-contrast);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-right: 20px;
  }

  .transforn-icon {
    height: calc( 1.3 * 42px );
    width: calc( 1.3 * 42px );
  }
}
ion-card {
  width: 100%;
  height: 435px;
  padding: 0;
  margin: 0;
  overflow: visible;
  box-shadow: none;
  border-radius: 0;
  background-position: center !important;
  ion-icon {
    font-size: 30px;
    font-weight: bold;
  }
}
h3 {
  font-weight: bold;
  color: var(--ion-color-dark-tint);
  span {
    font-size: 20px;
    font-weight: normal;
  }
}
.hide-icon {
  display: none !important;
}
.sameLineContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: lighter;
  color: var(--ion-color-dark-tint);
  p{
    margin-left: 6px;
  }
}
.sameLineContent2 {
  h6 {
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-color-dark-tint);
  }
  ion-item{
    --inner-border-width: 0 0 0px 0;
  }
}
ion-slide.slideHeight {
  ion-row {
    width: 100%;
  }
  .profilePics {
    height: 100px;
    border-radius: 15px;
    background-position: center !important;
  }
}
.instaPart {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding-bottom: 55px;
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-text {
    font-size: 11px;
     color: var(--ion-color-dark-tint) !important;
    padding-left: 26px;
  }
}
ion-fab.topIcon {
  top: 0 !important;
  background: transparent;
  ion-fab-button {
    width: 45px;
    height: 45px;
    --background: transparent !important;
    --box-shadow: none;
  }
}
.shareProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  p{
    color: var(--ion-color-gold-tint);
    font-size: 12px;
    margin-top: 0;
  }
  ion-text{
    font-weight: bold;
    font-size: 14px;
  }
}
.extraPadding{
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
ion-item{
  width: 100%;
}
.centreText{
  width: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
}
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  ion-button{
    width: 164px;
    text-transform: capitalize;
    span{
      font-size: 9px;
    }
  }
}
.nopaddingBottom{
  padding-bottom: 0px;
}
.position-relative{
  position: relative;
}
ion-footer{
  background: transparent;
  ion-toolbar {
    padding: 10px 0;
    --background: transparent;
    --border-width: 0;
  }
}
.footer-md:before {
  background-image: none;
}
ion-header{
  ion-toolbar{
    --background: transparent;
    --border-width: 0;
  }
}