<ion-header translucent *ngIf="isIos">
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="openPopoverOptions($event)">
        <ion-icon name="more" color="light" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-slides [options]="slideOpts" scrollbar="true" (ionSlideDidChange)="change($event)">
    <ion-slide *ngFor="let slide of slidesData">
      <ion-card [ngStyle]="{'background':'url('+ slide.slideImage +')','background-size':'cover'}">
        <ion-fab *ngIf="!isIos" vertical="top" horizontal="end" slot="fixed" class="topIcon">
          <ion-fab-button>
            <ion-icon name="more" (click)="openPopoverOptions($event)" color="light" mode="ios"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="position-relative">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <h3>{{name}}, <span>{{age}}</span></h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>
        <div class="sameLineContent">
          <ion-icon slot="start" name="snow" expand="icon-only" mode="ios"></ion-icon>
          <p text-start>{{occupation}}</p>
        </div>
        <div class="sameLineContent">
          <ion-icon slot="start" name="pin" expand="icon-only" mode="ios"></ion-icon>
          <p text-start>{{distance}}</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="sameLineContent">
      <p>{{quote}}</p>
    </ion-item>

    <ion-list class="extraPadding">
      <ion-item (click)="goforReport()">
        <div class="centreText">
          <ion-text text-uppercase text-center color="medium">Send Kiwi Kiss</ion-text>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="extraPadding">
      <ion-item (click)="goforReport()">
        <div class="centreText">
          <ion-text text-uppercase text-center color="medium">Report Profile</ion-text>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="extraPadding">
      <ion-item (click)="goforReport()">
        <div class="centreText">
          <ion-text text-uppercase text-center color="gold">Back</ion-text>
        </div>
      </ion-item>
    </ion-list>
    
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footerContent">
      <div class="icon_background" *ngFor="let icon of icons;let i = index"
        [ngClass]="{'hide-icon': i === 0 || i === 4, 'transforn-icon': i === 1 || i === 3}">
        <ion-icon name={{icon.title}} expand="icon-only" color={{icon.color}} (click)="clikedIconIs(icon.title)"
          class="icon_size" mode={{icon.mode}}></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>