<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title>Share My Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding-top>
    <div *ngFor="let item of feedData;let i= index">
      <ion-item>
        <ion-text slot="start" text-capitalize>{{item.head}}</ion-text>
        <ion-toggle slot="end" color="gold" checked></ion-toggle>
      </ion-item>
      <ion-item *ngIf="item.para" class="paragraphItem">
        <ion-label>
          <p text-wrap padding-bottom>{{item.para}}</p>
          <h3 text-capitalize>{{item.para2}}</h3>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>