/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #E0E0E0;
  height: 150px;

  .marginCustom {
    margin: 10px 0 5px;

  }

  .imageDiv {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-img {
      width: 30px;
      height: 30px;
    }
  }
}

.row_with_Border {
  border: 1px solid #E0E0E0;

}

.colFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h5 {
    text-align: center;
    width: 62%;
    color: black;
    font-size: 13px;
    font-weight:bold;
  }

  p {
    margin: 0 0 16px;
    font-size: 11px;
  }
}
h6{
  font-size: 10px;

}
ion-card{
  --background: var(--ion-color-warning-contrast);
}