<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
    <ion-title>Delete Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="row_with_Border">
      <ion-col size="12">
        <div class="colFirst">
          <h5> Are you sure you want to delete your account?</h5>
          <p>Please let us know the reason you are leaving</p>
        </div>

      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6" *ngFor="let item of deleteData; let i = index" no-padding (click)="goforModalReason(item,i)">
        <div class="contentCenter">
          <div [ngStyle]="{'background': item.color, 'background-size':'cover'}" class="imageDiv">
            <ion-img [src]=item.image></ion-img>
          </div>
          <h6 text-uppercase text-center class="marginCustom">{{item.head}}</h6>
          <h6 text-uppercase text-center no-margin>{{item.head1}}</h6>
        </div>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>