<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="privacy" padding-bottom>
    <p text-start class="dark">Login by email</p>

    <ion-item>
      <ion-input type="text" placeholder="Your email is"></ion-input>
    </ion-item>
    <p text-center class="medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat a ipsum
      deserunt. Voluptate iste earum beatae iusto aliquam odit distinctio voluptatem non deleniti veritatis? Quaerat
      inventore totam impedit doloribus pariatur.</p>

  </div>
  <div class="butttonsDiv">
    <ion-button expand="round" (click)="loginWithemail()" disabled color="light">send email
    </ion-button>
  </div>
</ion-content>