/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
ion-card{
    --background: white;
}
ion-icon{
    font-size: 25px;
}