<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="gold"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="privacy" padding-bottom>
    <p text-center class="dark">Account Recovery</p>
    <p text-center class="medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat a ipsum
      deserunt. Voluptate iste earum beatae iusto aliquam odit distinctio voluptatem non deleniti veritatis? Quaerat
      inventore totam impedit doloribus pariatur.</p>
  </div>
  <div class="butttonsDiv">
       <ion-button expand="round"  (click)="loginWithemail()">login in with email
      </ion-button>
     </div>
</ion-content>