/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-content {
     --background: rgba(56, 58, 62, 0.88);
}
ion-content.contentIos{
  --background: rgba(56, 58, 62, 0.64);
}
.cardRefresh{
  height: 100%;
}
.cardRefershContent{
  display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.cardCenter{
  height: 100%;
}
.cardCenterFasle{
  height:auto;
}
.cardFlash{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 250px;
  width: 100%;

}

.color {
  background: linear-gradient(to bottom, #FF9800, #FFCA28);
}

.iconDivBackground {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: orange;
  font-size: 50px;
  font-weight: bolder;
  border-radius: 50%;
  box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.17), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.centerFlash {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 210px;
  width: 100%;
  background: linear-gradient(to bottom, #884df0, #da77eb);
  ion-item{
    --background: transparent;
    --inner-border-width: 0 0 0px 0;
    p{
      color: white;
      font-size: 10px;
      margin: 0;
    }
  }
  h3{
    margin-bottom: 0px;
  }
}

.centerStar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 265px;
  width: 100%;
  background: linear-gradient(to bottom, #4DB6AC, #8BC34A);

  p {
    font-family: serif;

  }
}

.iconDivBackgroundFlash {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #673AB7;
  font-weight: bolder;
  border-radius: 50%;
  flex-direction: column;
  border: 5px solid var(--ion-color-light-shade);
  box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.17), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.borders {
  border-right: 2px solid var(--ion-color-light-shade);
}

ion-row.row_bottom {
  border-bottom: 2px solid var(--ion-color-light-shade);
  background: #d7d8da4d;
}

ion-col:hover {
  border: 2px solid var(--ion-color-primary-tint);
  border-right: 2px solid var(--ion-color-primary-tint)!important;
  color: var(--ion-color-primary-tint);
}

ion-card {
  border-radius: 10px;
  --background: var(--ion-color-tertiary-contrast);
}

.buttonClass {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  ion-button.custom_button {
    width: 85%;
    --border-radius: 25px;
    font-weight: 500;
    --background: linear-gradient(to right, #303F9F, var(--ion-color-primary-tint));
    --background-focused: linear-gradient(to right, #303F9F, var(--ion-color-primary-tint));
  }

  .border_bottom {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bordeerBottomdiv {
    border-bottom: 2px solid var(--ion-color-light);
    width: 100%;
    height: 2px;
    margin: 0 18px -5px;
  }

  .absCenterdivOr {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--ion-color-dark-contrast);
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    color: var(--ion-color-medium);
    margin: auto;
    font-weight: bold;
    font-size: 16px;
  }

  .upper {
    margin: 2px !important;
    font-weight: bold;
  }

  .bottom {
    margin: 4px !important;
    font-size: 8px;
  }
}

ion-slides {
  .swiper-pagination-bullet-active {
    background: var(--ion-color-tertiary-contrast) !important;
  }
}

h6 {
  margin: 0;
  padding: 0;
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.48) !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.levelDiv {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-label {
  h4 {
    color: var(--ion-color-warning-contrast);
    font-weight: bold;
  }

  p {
    color: var(--ion-color-light-shade);
    font-size: 12px;
    line-height: 16px;
    // font-family: serif;
  }
}

ion-button {
  height: 48px;
  --border-radius: 25px;
  width: 85%;
}

.custom_button {
  position: absolute;
  top: -11%;
  z-index: 111;
  height: 21px;
  font-size: 8px;
  font-weight: bold;
}
