<ion-header>

</ion-header>

<ion-content style = "height: 600px;">
  <ion-slides [options]="mySlideOptions">
    <ion-slide style = "height:100px" *ngFor="let item of imageData">
      <img style = "width:100%; z-index:0" [src]="item.image">
    </ion-slide>
  </ion-slides>
  <!-- <ion-list class="cardsList">
    <ion-row>
      <ion-col size="4" *ngFor="let item of imageData; let i = index">
        <ion-card [ngClass]="{'cardBorder': !item.image }">
          <div class="countNumber">
            <p class="countP">{{i + 1}}</p>
          </div>
          <div *ngIf="item.image" class="imageDiv"
            [ngStyle]="{'background':'url('+ item.image +')','background-size':'cover'}">
           
          </div>
          <div class="closeIcon" *ngIf="item.image">
            <ion-icon name="close" expand="icon-only" *ngIf="item.image"></ion-icon>
          </div>
          <div class="addIcon" *ngIf="!item.image">
            <ion-icon name={{item.icon}} expand="icon-only" *ngIf="!item.image"></ion-icon>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list> -->
  <ion-list *ngFor="let item of data; let i = index" padding-top>
    <div *ngIf="item.toggleHeader">
      <ion-item class="item1st">
        <ion-toggle slot="end" color="gold"></ion-toggle>
        <p>{{item.headItem}}</p>
      </ion-item>
      <p *ngIf="item.headItemSubhead" text-capitalize class="headItemSubhead">{{item.headItemSubhead}}</p>
    </div>

    <ion-list-header *ngIf="!item.toggleHeader" text-capitalize>
      {{item.head}}
    </ion-list-header>
    <ion-item *ngIf="item.subhead || item.input || item.editable">
      <ion-toggle slot="end" *ngIf="item.toggle" color="gold"></ion-toggle>
      <p [ngClass]="{'cardP': i === 5 || i === 6}" text-capitalize>{{item.subhead}}</p>
      <ion-input *ngIf="item.input || item.editable" type="text" [(ngModel)]="item.input" placeholder={{item.input}} text-capitalize></ion-input>

    </ion-item>
    <ion-item *ngIf="item.subhead1" class="noborderBottom">
      <ion-toggle slot="end" *ngIf="item.toggle" color="gold"></ion-toggle>
      <p *ngIf="item.subhead1" text-capitalize class="subhead1Custom">{{item.subhead1}}</p>
    </ion-item>
    <ion-item *ngIf="item.subhead2">
      <ion-toggle slot="end" *ngIf="item.toggle" color="gold"></ion-toggle>
      <p *ngIf="item.subhead2" text-capitalize class="subhead1Custom">{{item.subhead2}}</p>
    </ion-item>
  </ion-list>

</ion-content>