/**
 * Dating https://store.enappd.com/product/dating-app-starter-ionic4-dating(Tinder Clone)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
:root {
  --ion-color-gold: #DB0460;
  --ion-color-gold-rgb: 255, 215, 0;
  --ion-color-gold-contrast: white;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #db046141;
  --ion-color-gold-tint: #DB0460;
}
.ion-color-gold {
  --ion-color-base: var(--ion-color-gold) !important;
  --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
  --ion-color-contrast: var(--ion-color-gold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gold-shade) !important;
  --ion-color-tint: var(--ion-color-gold-tint) !important;
}

.swiper-pagination {
  // bottom: 0 !important;
}

.swiper-pagination-bullet-active {
  background: rgb(240, 65, 65)  !important;
}

.swiper-pagination-bullet {
  background: var(--ion-color-medium);
}

ion-modal {
  --background: #383a3ec2 !important;
}
.swiper-scrollbar {

  top: 3px !important;
}
.swiper-scrollbar-drag {
  background: var(--ion-color-warning-contrast);
}
.searchbar-input.sc-ion-searchbar-md{
  box-shadow: none !important;
  -webkit--webkit-box-shadow: none !important;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  color: var(--ion-color-gold-tint);
}
ion-content{
  --background: rgba(238, 238, 238, 0.81);
}
.header-md:after {
  
  background-image: none !important;
   content: "";
}