<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-segment [(ngModel)]="selectedName" *ngFor="let i of rows" (ionChange)="segmentChanged($event)" >
      <ion-segment-button *ngFor="let icon of tabs | slice:(i*segmentsPerRow):(i+1)*segmentsPerRow" value="{{icon.title}}"  style="border-style: none;">
        <ion-icon src="{{icon.url}}"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="segmentButton === 'contact'">
  <app-contacts></app-contacts>
</ion-content>

<ion-content *ngIf="segmentButton === 'settings'">
  <app-settings></app-settings>
</ion-content>

<ion-content *ngIf="segmentButton === 'edit'">
  <app-edit></app-edit>
</ion-content>

<ion-content *ngIf="segmentButton === 'flame'">
  <div *ngIf="!hasUserData || !cards.length" class="nodataDiv" padding>
    <ion-avatar>
      <ion-img src="../../assets/chat/chat4.jpg"></ion-img>
    </ion-avatar>
    <h3 class="text-center neutra font-caps red" style="font-weight: bolder;">
      {{ cards.length ? 'We are looking for people around you' : 'There are no prospecs around you' }}
    </h3>
  </div>
  <ion-content padding>
    <!-- <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of cards"  style="width: 100%; height: 100%; border: 2px solid #e9e3e3;" >
        <div  style ="width: 100%; height:350px; border-radius: 25px;" [ngStyle]="{'background':'url('+ item.image +')','background-size':'100% auto'} ">
        <ion-col>
            <ion-item style = "position: fixed; bottom: 0; padding-left: 10px; width:100%" (click)="openandHideDetail(item)">
              <ion-label>
                <h1 text-start>{{item.name}} , <span>{{item.age}}</span></h1>
                <div class="sameLineContent">
                  <ion-icon slot="start" name="snow" expand="icon-only" mode="ios"></ion-icon>
                  <p text-start>{{item.occupation}}</p>
                </div>
                <div class="sameLineContent">
                  <ion-icon slot="start" name="pin" expand="icon-only" mode="ios"></ion-icon>
                  <p text-start>{{item.distance}}</p>
                </div>
              </ion-label>
              <ion-icon name="information-circle" slot="end" expand="icon-only" color="light" class="info"></ion-icon>
            </ion-item>
        </ion-col>
      </div>
      </ion-slide>
    </ion-slides> -->
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  <ion-row>
      <ion-col size="4" *ngFor="let ovalContent of data.ovalContents">
        <div class="ovelDivContent" color="medium" *ngIf="!ovalContent.camera">
          <div class="backgroundDiv" margin-bottom (click)="gotoFunctions(ovalContent.icon)">
            <ion-icon name={{ovalContent.icon}} expand="icon-only" class="ovalIcon" color="medium"></ion-icon>
          </div>
          <ion-text color="medium">{{ovalContent.text}}</ion-text>
        </div>
        <div class="ovelDivContentPadding" *ngIf="ovalContent.camera" (click)="gotoaddMedia()">
          <ion-avatar class="ovelDivContentcamera">
            <ion-icon name={{ovalContent.camera}} expand="icon-only" class="ovalIconCamera" no-padding></ion-icon>
            <div class="addIcon">
              <ion-icon name="add" expand="icon-only" no-padding></ion-icon>
            </div>
          </ion-avatar>
          <p color="medium">{{ovalContent.cameraText}}</p>
        </div>
      </ion-col>
    </ion-row> -->
    <ion-list>
      <ion-item style="background-color: #f0f4f9; padding:0 !important; margin-top: 0; " *ngFor="let item of cards">
        <div style="width: 100%; height:400px; border-radius: 25px; margin-bottom: 20px; "
          [ngStyle]="{'background':'url('+ item.image +')','background-size':'100% auto'} ">
          <ion-col>
            <ion-item style="margin-top:calc(100% - 50px); padding-left: 10px; width:100%"
              (click)="openandHideDetail(item)">
              <ion-label>
                <h1 text-start>{{item.name}} , <span>{{item.age}}</span></h1>
                <div class="sameLineContent">
                  <ion-icon slot="start" name="snow" expand="icon-only" mode="ios"></ion-icon>
                  <p text-start>{{item.occupation}}</p>
                </div>
                <div class="sameLineContent">
                  <ion-icon slot="start" name="pin" expand="icon-only" mode="ios"></ion-icon>
                  <p text-start>{{item.distance}}</p>
                </div>
              </ion-label>
              <ion-icon name="information-circle" slot="end" expand="icon-only" color="light" class="info"></ion-icon>
            </ion-item>
          </ion-col>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>


</ion-content>






<ion-content *ngIf="segmentButtonTitle === 'vr'" #IonContent>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col style size="12" no-padding>
      <ion-title size = "large" style = "padding: 20x; text-align: center;" text-capitalize>VR dating coming soon!</ion-title>
      <ion-img src="../../assets/images/VRImage.jpg"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>


<ion-content *ngIf="segmentButtonTitle === 'message'" #IonContent>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col size="12" no-padding>
        <app-chat></app-chat>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="segmentButtonTitle === 'cafe'" #IonContent>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col size="12" no-padding>
      <app-messagefeed></app-messagefeed>
    </ion-col>
  </ion-row>
</ion-content>


<ion-footer *ngIf="cards.length && segmentButton === 'flame' && hasUserData">
  <ion-toolbar>
    <div class="footerContent">

    </div>
  </ion-toolbar>
</ion-footer>