<ion-content>
    <ion-list>
      <ion-item (click)="closePopOver()">
        <p text-capitalize>Unmatch</p>
      </ion-item>
      <ion-item (click)="reportPopOver()">
        <p text-capitalize>report</p>
      </ion-item>
      <ion-item (click)="closePopOver()">
        <p text-capitalize>share profile</p>
      </ion-item>
      <ion-item (click)="openchatPopOver()">
        <p text-capitalize>open chat</p>
      </ion-item>
      <ion-item (click)="openprofileOver()">
        <p text-capitalize>open profile</p>
      </ion-item>
    </ion-list>
  </ion-content>
