
<ion-header>
</ion-header>

<ion-content>
  <ion-list>

    <ion-list-header>Account Setting</ion-list-header>
    <ion-card (click)="gotophoneNumber()">
      <ion-item>
        <ion-text slot="start">Email</ion-text>
        <ion-text slot="end" class="h6Color" color="medium">andrewgarrett1996@gmail.com</ion-text>
      </ion-item>
    </ion-card>
 
    <ion-card (click)="showNewLocation()">
      <ion-item *ngIf="!clicked">
        <ion-text slot="start">Viewing</ion-text>
        <ion-button expand="full" fill="clear" slot="end" text-capitalize>Local Kiwis</ion-button>
      </ion-item>
      <div *ngIf="clicked">
        <ion-item>
          <ion-icon name="pin" slot="start" expand="icon-only" color="primary" class="custonIcon"></ion-icon>
          <ion-text color="dark">Local Kiwis</ion-text>
          <ion-icon name="checkmark" slot="end" expand="icon-only" color="primary" class="custonIcon"></ion-icon>
        </ion-item>
        <ion-item *ngIf="clicked">
          <ion-button expand="full" fill="clear" class="margin_left">View somewhere else</ion-button>
        </ion-item>
      </div>
    </ion-card>

    <ion-card (click)="gotoshowme()">
      <ion-item>
        <ion-label>
          <ion-text class="textBold">Show Me</ion-text>
          <p>Women</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-text class="textBold" slot="start">Maximum distance</ion-text>
        <ion-text color="gold" slot="end">{{rangeSingle}}Km.</ion-text>
      </ion-item>
      <ion-item>
        <ion-range min="10" max="100" step="10" color="gold" [(ngModel)]="rangeSingle"></ion-range>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-text class="textBold" slot="start">Age range</ion-text>
        <ion-text color="gold" slot="end">{{rangedualKnobs.lower}} - {{rangedualKnobs.upper}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-range dualKnobs="true" min="18" max="92" step="3" [(ngModel)]="rangedualKnobs" color="gold"></ion-range>
      </ion-item>
    </ion-card>
    

    <ion-card>
      <ion-item>
        <ion-text>Show me on Kiwi Aroha</ion-text>
        <ion-toggle slot="end" color="gold"></ion-toggle>
      </ion-item>
    </ion-card>
    <ion-item>
      <p text-center class="verifyText">You wont show upin the card stack but can still message your wxisting matches.
      </p>

    </ion-item>
    
    <ion-list-header>App settings</ion-list-header>
    <ion-card>
      <ion-item>
        <ion-label class="legalLebelcontent">
          <p (click)="gotoPush()">Push Notifications</p>
        </ion-label>
      </ion-item>
    </ion-card>
   
    
    <ion-card>
      <ion-item>
        <ion-label class="legalLebelcontent">
          <p (click)="gotoLegal()">Privacy Policy</p>
          <p (click)="gotoLegal()">Terms of Service</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-button fill="clear" expand="full" class="logout" color="dark">LogOut</ion-button>
      </ion-item>
    </ion-card>

    <ion-card (click)="gotoDeleteAccount()">
      <ion-button fill="clear" expand="full" class="logout" color="gold" Text-capitalize>Delete Account</ion-button>
    </ion-card>
  </ion-list>


</ion-content>